<div class="border-end" id="sidebar-wrapper">
  <div class="sidebar-heading border-bottom">
      <a [routerLink]="['/home']" routerLinkActive="router-link-active" >
        Cumorah Store
      </a>
  </div>
  <div class="list-group list-group-flush">
    <a
      class="list-group-item list-group-item-action list-group-item-light p-3"
      [routerLink]="['/admin']" routerLinkActive="router-link-active"
      ><i class="fas fa-solar-panel"></i> Panel</a>
    <a
      class="list-group-item list-group-item-action list-group-item-light p-3"
      [routerLink]="['/admin/usuarios']" routerLinkActive="router-link-active" ><i class="fas fa-id-card"></i> Usuarios</a>
  </div>
</div>
